<div class="text-center">
    <img style="width: 100%" src="~/Image/Иконки/Group 88.png" alt="" />
    <a asp-area="" asp-action="Index" asp-controller="Home" style="     margin-top: 436px;
                                                                        margin-left: -750px;
                                                                        position: absolute;
                                                                        text-decoration: none;
                                                                        color: black;
                                                                        padding-left: 51px;
                                                                        padding-right: 50px;
                                                                        padding-top: 5px;
                                                                        padding-bottom: 5px;
                                                                        font-size: 20px;
                                                                        font-weight: normal;">на главную</a>
</div>