@using Hendel.DAL_copy;
@model RevoltedViewModels;
@{
    ViewData["Title"] = "Регистрация";
}

<form asp-action="PageRevol" asp-controller="Account" asp-anti-forgery="true" enctype="multipart/form-data">
    <div style="display: flex">
        <img style="width: 200px; margin: auto" src="~/Image/Иконки/Восстановление_icon.png" />
    </div>

    <div class="text-center">
        <div style=" position: absolute; margin-top: -80px; margin-left: 750px">

            <div>
                <div>
                    <input asp-for=RevoltedPassword type="password" style=" width: 250px;
                       border: none;
                       border-bottom: 2px solid black;
                       position: absolute;
                       margin-top: 260px;
                       margin-left: -222px;
                       background-color: transparent;
                       color: inherit;
                       outline: none;" />
                    <img src="~/Image/Иконки/Пароль для восстановления.png" style="margin-top: 240px; margin-left: -221px; position: absolute; width: 165px" />

                </div>
                <span asp-validation-for="RevoltedPassword" style="color:red;width: 250px; position: absolute; margin-top: 260px;margin-left: 60px;" />

            </div>

            <div>
                <div>
                    <input asp-for=NewPassword type="password" style=" width: 250px;
                       border: none;
                       border-bottom: 2px solid black;
                       position: absolute;
                       margin-top: 330px;
                       margin-left: -222px;
                       background-color: transparent;
                       color: inherit;
                       outline: none;" />
                    <img src="~/Image/Иконки/новый пароль.png" style="margin-top: 310px; margin-left: -221px; position: absolute; width: 85px" />

                </div>
                <span asp-validation-for="NewPassword" style="color:red;width: 250px;position: absolute; margin-top: 330px;margin-left: 60px;" />

            </div>

            <div>
                <div>
                    <input asp-for=ConfirmPassword type="password" style=" width: 250px;
                       border: none;
                       border-bottom: 2px solid black;
                       position: absolute;
                       margin-top: 400px;
                       margin-left: -222px;
                       background-color: transparent;
                       color: inherit;
                       outline: none;" />
                    <img src="~/Image/Слова/повторите пароль (1).png" style="margin-top: 380px; margin-left: -221px; position: absolute; width: 105px" />

                </div>
                <span asp-validation-for="ConfirmPassword" style="color:red;width: 250px; position: absolute; margin-top: 400px;margin-left: 60px;" />

            </div>

        </div>


        <div>


            <input type="submit" value="Войти" class="btn" style=" margin-top: 380px;
                                                                position: absolute;
                                                                margin-left: -130px;
                                                                color: white;
                                                                background-color: black;
                                                                padding-left: 115px;
                                                                padding-right: 115px;" />
        </div>

        <div asp-validation-summary="ModelOnly" style="position: absolute;
             top: 729px;
             left: 622px;
             color: red;">
        </div>

        <div style="display: flex; margin-top: -70px">
            <img src="~/Image/РамкаДляРегистрации.png" style="width: 1100px; height: 570px ; margin: auto;" />
        </div>
    </div>

</form>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

