@model Hendel.DAL_copy.Models.RegistrModels

@{
    ViewData["Title"] = "Регистрация";
}


<form asp-action="Registr" asp-controller="Account" asp-anti-forgery="true">
    <div class="text-center">
        <div>
            <img style="width: 200px; margin-left: 2px" src="~/Image/Group 34.png" />

            <input asp-for=Name type="text" style=" width: 250px;
                       border: none;
                       border-bottom: 2px solid black;
                       position: absolute;
                       margin-top: 190px;
                       margin-left: -222px;
                       background-color: transparent;
                       color: inherit;
                       outline: none;" />
            <img src="~/Image/Слова/имя (1).png" style="margin-top: 170px; margin-left: -221px; position: absolute; width: 25px" />



            <input asp-for=Surname type="text" style=" width: 250px;
                       border: none;
                       border-bottom: 2px solid black;
                       position: absolute;
                       margin-top: 260px;
                       margin-left: -222px;
                       background-color: transparent;
                       color: inherit;
                       outline: none;" />
            <img src="~/Image/Слова/фамилия (1).png" style="margin-top: 240px; margin-left: -222px; position: absolute; width: 60px" />



            <input asp-for=Email type="email"  style=" width: 250px;
                       border: none;
                       border-bottom: 2px solid black;
                       position: absolute;
                       margin-top: 330px;
                       margin-left: -222px;
                       background-color: transparent;
                       color: inherit;
                       outline: none;" />
            <img src="~/Image/Слова/почта (1).png" style="margin-top: 310px; margin-left: -221px; position: absolute; width: 35px" />



            <input asp-for=Password type="password" style=" width: 250px;
                       border: none;
                       border-bottom: 2px solid black;
                       position: absolute;
                       margin-top: 400px;
                       margin-left: -222px;
                       background-color: transparent;
                       color: inherit;
                       outline: none;" />
            <img src="~/Image/Слова/пароль (1).png" style="margin-top: 380px; margin-left: -221px; position: absolute; width: 45px" />



            <input asp-for=DoublePassword type="password" style=" width: 250px;
                       border: none;
                       border-bottom: 2px solid black;
                       position: absolute;
                       margin-top: 470px;
                       margin-left: -222px;
                       background-color: transparent;
                       color: inherit;
                       outline: none;" />
            <img src="~/Image/Слова/повторите пароль (1).png" style="margin-top: 450px; margin-left: -221px; position: absolute; width: 115px" />

            <input type="submit"  value="Ok" class="btn" style=" margin-top: 522px;
                                                                position: absolute;
                                                                margin-left: -224px;
                                                                color: white;
                                                                background-color: black;
                                                                padding-left: 115px;
                                                                padding-right: 115px;" />

            <input style="margin: 0;
                      font-family: inherit;
                      font-size: inherit;
                      line-height: inherit;
                      margin-top: 570px;
                      position: absolute;
                      margin-left: -222px;" type="checkbox" />

            <p style="margin-bottom: 1rem;
                  margin-top: 425px;
                  position: absolute;
                  margin-left: 545px;
                  font-size: 13px;
                  font-weight: normal;">
                я согласен с политикой и конфеденц.
            </p>

            <p style="margin-top: 445px; position: absolute; font-size: 13px; margin-left: 550px;">Уже есть акканут? <a asp-area="" asp-controller="Account" asp-action="Input" style="color:blue; font-size: 13px; ">Авторизоваться</a> </p>
        </div>

        <div asp-validation-summary="ModelOnly" style="     position: absolute;
             top: 729px;
             left: 622px;
             color: red;"></div>

        <div>
            <img src="~/Image/РамкаДляРегистрации.png" style="width: 1100px; height: 570px ; margin-top:-70px;" />
        </div>
    </div>

</form>
