@using Hendel.DAL_copy;
@model IEnumerable<Favorite>;

<div class="text-center">
    <div>
        <img style="width: 200px; margin-left: 10px" src="~/Image/Оформление_Заказа.png" />

        <div style="position: absolute; margin-left: 550px; margin-top: 49px;">
            <div>
                <select style="width: 250px; margin-left: -26px;">
                    <option value="value1">Сбербан</option>
                    <option value="value2">Тинкофф</option>
                    <option value="value3">Альфа-банк</option>
                </select>
            </div>

            <div>
                <input type="number" placeholder="Номер карты" style=" width: 250px;
                       border: none;
                       border-bottom: 2px solid black;
                       position: absolute;
                       background-color: transparent;
                       color: inherit;
                       outline: none;
                       margin-top: 20px;
                       margin-left: -136px;" />
            </div>

            <div>
                <input type="number" placeholder="Пин-код" style=" width: 250px;
                       border: none;
                       border-bottom: 2px solid black;
                       position: absolute;
                       background-color: transparent;
                       color: inherit;
                       outline: none;
                       margin-left: -136px;
                       margin-top: 70px;" />
            </div>

            <a asp-area="" asp-action="BuyCompete" asp-controller="Catalog" style="margin-top: 127px;
                                                                                   margin-left: -80px;
                                                                                   position: absolute;
                                                                                   text-decoration: none;
                                                                                   background: black;
                                                                                   color: white;
                                                                                   padding-left: 51px;
                                                                                   padding-right: 50px;
                                                                                   padding-top: 5px;
                                                                                   padding-bottom: 5px;">купить</a>

        </div>

        <div>
            <img src="~/Image/РамкаДляРегистрации.png" style="width: 1100px; height: 570px ; margin-top:-70px;" />
        </div>
    </div>
</div>