@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="width: 1480px; margin-top: -15px">
@*    <img src="~/Image/Rectangle 71 (7).png" />*@

    @*<img style="margin-left: -850px; position: absolute" src="~/Image/Rectangle 1 (1).png" />*@
@*    <img style="margin-left: -850px; position: absolute" src="~/Image/Group 24.png" />*@


    <img style="margin-left: -852px;width: 100%; position: absolute" src="~/Image/NewMainImg.png" />
    <img style="position: absolute; margin-left: -796px; width: 700px; margin-top: 60px" src="~/Image/NewDiscript.png" />

    <div class="text-center" style="width: 100%; height: 834px; background-color: #171717; margin-top: 709px; position: absolute; margin-left: -112px;">
        <img style="position: absolute; margin-left: -157px; margin-top: 62px; width: 330px;" src="~/Image/Слова/NEW COLLECTION.png" />

        <div class="NewsWatch" style="margin-top: 150px">
            <a>
                <img style="width: 285px; margin-right: 125px; margin-left: 130px;" src="~/Image/Часы/Watch1.png" />
            </a>
            <a asp-area="" asp-action="NewCollectionWatch" asp-controller="Home" style="  position: absolute;
                        color: white;
                        margin-top: 481px;
                        margin-left: -328px;
                        font-size: 15px;
                        border: 1px solid white;
                        padding-left: 20px;
                        padding-right: 20px;
padding-top: 6px; padding-bottom: 6px">Подребнее</a>

            <a>
                <img style="width: 285px; margin-right: 125px ;" src="~/Image/Часы/Watch2.png" />
            </a>
            <a asp-area="" asp-action="NewCollectionWatch2" asp-controller="Home" style="  position: absolute;
                        color: white;
                        margin-top: 481px;
                        margin-left: -328px;
                        font-size: 15px;
                        border: 1px solid white;
                        padding-left: 20px;
                        padding-right: 20px;
padding-top: 6px; padding-bottom: 6px">Подребнее</a>

            <a>
                <img style="width: 285px; margin-right: 125px" src="~/Image/Часы/Watch3.png" />
            </a>
            <a asp-area="" asp-action="NewCollectionWatch3" asp-controller="Home" style="  position: absolute;
                        color: white;
                        margin-top: 481px;
                        margin-left: -328px;
                        font-size: 15px;
                        border: 1px solid white;
                        padding-left: 20px;
                        padding-right: 20px;
padding-top: 6px; padding-bottom: 6px">Подребнее</a>


        </div>
    </div>


    <div class="More_interesting" style="position: absolute; width: 100%; height: 900px; background-color: #171717; margin-top: 1533px; margin-left: -112px">
        <img src="~/Image/Слова/Много интересного.png" style="margin-top: -120px; width: 300px"/>
        
        <div>
            <a asp-area="" asp-action="ManWatch" asp-controller="Home">
                <img src="~/Image/Часы/image 34.png" style="width: 550px; margin-left: -550px;" />
            </a>
        </div>

        <div>
            <a asp-area="" asp-action="HumanWathc" asp-controller="Home">
                <img src="~/Image/Часы/image 35.png" style="width: 550px; margin-left: 551px; margin-top: -498px;" />
            </a>
        </div>



        <div class="Futr">
            <div class="BlackKvadratFutr">
                <div class="disfutr">
                    <div class="FutrDiscriptionOne">
                        <div class="Company">Компания</div>
                        <div class="RedLineFuty"></div>
                        <div class="AboutUsFutr">О нас</div>
                        <div class="NashiUslugiFutr">Наши услуги</div>
                        <div class="PolicyFutr">Политика и конфиденциальность</div>
                        <div class="PartnFutr">Партнёры</div>
                    </div>

                    <div class="FutrDiscriptionSecond">
                        <div class="Pomosh">Помощь</div>
                        <div class="RedLineFutr"></div>
                        <div class="AboutUsFutrS">Часто задаваемые вопросы</div>
                        <div class="NashiUslugiFutrS">Способы оплаты</div>
                        <div class="PolicyFutrS">Статус заказа </div>
                    </div>

                    <div class="FutrDiscriptionThird">
                        <div class="NetworkF">Наши соц сети</div>
                        <div class="RedLineFutr3"></div>
                        <div class="AboutUsFutr3">China:</div>
                        <div class="NashiUslugiFutr3">Tel: +7(927)557-57-57</div>
                        <div><img class="imagef1" src="~/Image/Иконки/ИконкаFacebook.png"> </div>
                        <div><img class="imagef2" src="~/Image/Иконки/ИконкаTwiter.png"> </div>
                        <div><img class="imagef3" src="~/Image/Иконки/ИконкаInstagram.png"> </div>
                    </div>
                </div>
              
            </div>
        </div>

    </div>

</div>


