@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <img style="width: 1518px; margin-left: -111px; margin-top: -15px;" src="~/Image/ФонДляКоллекцииЧасов.png" />

        <img style="margin-top: -700px; margin-left: -629px; position: absolute; width: 430px;" src="~/Image/Слова/Group 47.png" />

        <img style="width:400px; margin-left: -180px; margin-top: -837px; position: absolute; margin-left: -199px;" src="~/Image/Часы/Часы2ДляВставки.png" />

        <iframe style="position: absolute; width: 1519px;  height: 600px; margin-left: -760px" width="949" height="534" src="https://www.youtube.com/embed/io658NzfxYk" title="HUBLOT - SPIRIT OF BIG BANG SANG BLEU TITANIUM PAVÉ 42MM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
        <div style="margin-top: 620px; height: 900px">
            <a asp-area="" asp-action="BuyCollectionWatch" asp-controller="Home" style="position: absolute;
                  background-color: black;
                  color: white;
                  padding-left: 70px;
                  padding-right: 70px;
                  padding-top: 12px;
                  padding-bottom: 12px;
                  margin-left: -623px;
                  margin-top: -1000px;"> Купить </a>

            <img style="position: absolute; width: 90%; margin-left: -660px;" src="~/Image/Слова/Discription1.png" />
        </div>

    </div>
</div>
}
